
# Ensure that EFI capsule updates are enabled
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_CAPSULE_ON_DISK_EARLY=y
CONFIG_EFI_CAPSULE_FIRMWARE_RAW=y

# Useful for debugging SMBIOS data
CONFIG_CMD_SMBIOS=y

# Set the namespace GUID so that there are no conflicts with U-Boot 
# image GUIDs on devices that use dynamic UUIDs for capsule updates.
# This namespace GUID identifies tauchgang community builds of U-Boot!
CONFIG_EFI_CAPSULE_NAMESPACE_GUID="a39b9978-2477-4522-9488-4c918c991327"
